<button class="clear-output" (click)="clear()" title="Clear Redis Responses">
  <i class="material-icons">
    clear
  </i>
</button>
<div class="output">
  <ul>
    <li *ngFor="let output of commandsOutput" [class]="output.type" [class.is-not-valid]="!output.valid">
      <span class="error-icon" *ngIf="!output.valid">
        <i class="material-icons">error</i>
      </span>
      <span>{{ output.type | uppercase }}:</span>
      <span class="run-command">{{ output.output }}</span>
    </li>
  </ul>
</div>
