@import "mixins/reset-list";

.clear-output {
  position: absolute;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  top: var(--margin-default);
  right: var(--margin-default);
  color: var(--primary-default-text);
}

.output {
  @include reset-list();
  background-color: var(--primary-default-bg);
  color: var(--primary-default-text);
  padding: var(--margin-default);

  .is-not-valid {
    color:var(--danger);
  }

  .command {
    padding-top: var(--margin-default);
    padding-bottom: var(--margin-sm);
    font-style: italic;
    font-size: var(--font-size-xs);
    color:var(--neutro-dark);
  }

  .response {
    padding-bottom: var(--margin-default);
    border-bottom: 1px solid var(--neutro);
    .run-command {
      font-weight: bold;
    }
  }

  .error-icon {
    margin-right: var(--margin-sm);
    .material-icons {
      font-size: var(--font-size-default);
    }
  }
  .run-command {
    margin-left: var(--margin-sm);
  }

}
