<ng-container *ngIf="steps">

  <div class="header">
    <div class="header__left">
      <button class="chapter-button"
              [disabled]="!currentStep"
              (click)="changeStep(paginator.FIRST_PAGE)">
        <i class="material-icons"> first_page </i>
      </button>
      <button class="chapter-button"
              [disabled]="!currentStep"
              (click)="changeStep(paginator.PREVIOUS_PAGE)">
        <i class="material-icons"> chevron_left </i>
      </button>
    </div>
    <div class="header__right">
      <button class="chapter-button"
              [disabled]="currentStep >= (steps?.length - 1)"
              (click)="changeStep(paginator.NEXT_PAGE)">
        <i class="material-icons"> chevron_right </i>
      </button>
      <button class="chapter-button"
              [disabled]="currentStep >= (steps?.length - 1)"
              (click)="changeStep(paginator.LAST_PAGE)">
        <i class="material-icons"> last_page </i>
      </button>

    </div>
  </div>

  <div class="content" #scrollBox>
    <div [innerHTML]="steps[currentStep] | markdown" *ngIf='steps && steps[currentStep]'></div>
  </div>

</ng-container>
