<div class="header__app-info">
  <img class="app-logo" alt="Reddit logo white" src="assets/redis-white.png"/>
  <span class="app-info">
    <span class="app-name">{{title}}</span>
    <span class="app-version">{{version}}</span>
  </span>

</div>
<nav class="header__menu">
  <ul>
    <li>
      <a target="_blank" href="https://www.acadevmy.it/intro">About Us</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/acadevmy/redis-patterns-console">GitHub</a>
    </li>
    <li *ngIf="!this.isAuth">
      <a [href]="loginUrl"> Sign in with <b>Github</b></a>
    </li>
  </ul>
</nav>
