<div class="category-list">
  <tr-title-and-scrollable-content [hasPadding]="false">
    <ul class="list">
      <li *ngFor="let category of categories"
          [class.is-active]="activeCategory === category"
          (click)="setActiveCategory(category)">
        <ng-container *ngIf="category !== ''; else allCategories">{{ category | uppercase }}</ng-container>
        <ng-template #allCategories>ALL</ng-template>
      </li>
    </ul>
  </tr-title-and-scrollable-content>
</div>

<div class="command-list">
  <tr-title-and-scrollable-content [hasPadding]="false" [triggerResetScroll]="resetScrollValue">
    <div class="filter">
      <span class="clear-filter" (click)="search.value = ''"><i class="material-icons">clear</i></span>
      <input type="text" placeholder="Search command" #search (input)="true">
    </div>
    <ul class="list">
      <li *ngFor="let command of filteredCommands | searchFilter: 'key': search.value | searchFilter: 'group': activeCategory"
          [class.is-active]="command.key.toLowerCase().trim() === this.activeCommand?.key.toLowerCase().trim()"
          class="command">

        <span (click)="select(command)">{{ command.key }}</span>

        <span title="Write it on command input"
              class="write-to-command-line"
              (click)="writeToCommandLine(command)">
              <i class="material-icons">input</i>
            </span>
      </li>
    </ul>
  </tr-title-and-scrollable-content>
</div>
