@import "mixins/reset-list";

:host {
  display: block;

}

@include reset-list();

.pattern-list {
  padding: var(--margin-sm);
  margin-top: var(--margin-default);

  .pattern {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    padding-bottom: var(--margin-default);
    &.active {
      color: var(--primary)
    }
  }
}

.icon {
  padding-right: var(--margin-sm);
  .material-icons {
    font-size: var(--font-size-md);
  }
}

.title {
  font-size: var(--font-size-default);
}
